.login {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.login .blockLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.login .blockLogo img {
    width: 300px;
}

.login form {
    background-color: #fff;
    padding: 32px;
    min-width: 30rem;
}

.login button {
    display: block;
    width: 100%;
    font-size: 16px;
    background-color: #12276A;
    color: #fff;
    padding: 12px 6px;
    cursor: pointer;
}