.wrapper {
    display: block;
    margin-bottom: 16px;
}

.wrapper label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.wrapper input {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #333;
    padding: 12px 6px;
    outline: none;
}

.wrapper input::placeholder {
    font-size: 16px;
    color: #333;
}